.card {
  background: 
    linear-gradient(45deg, #F2B632 0%, #F2B632 30%, transparent 30%, transparent 70%, #A35D2D 70%, #A35D2D 100%),
    white;
  background-size: 100% 100%;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 20px;
  font-family: "Segoe UI", Roboto, sans-serif;
  max-width: 400px;
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  overflow: hidden;
  position: relative;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.card.visible {
  animation: fadeInUp 0.6s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-image {
  width: 100%;
  height: 250px; /* Aumentamos la altura de 200px a 250px */
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Opcional: Efecto hover para la imagen */
.card-image:hover {
  transform: scale(1.05);
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #222;
}

.card-text {
  font-size: 1rem;
  color: #444;
  line-height: 1.5;
  text-orientation: inherit;
}

.card-text ul {
  text-align: left;
  padding-left: 20px;
  margin: 0;
}

.card-text li {
  margin-bottom: 8px;
  font-size: 0.9rem;
  line-height: 1.3;
}